.name{
  font-weight: lighter;
  font-size: 20px;
}

.symbol{
  font-weight: lighter;
}

.price{
  font-weight: bold;
  color:darkblue
}

.volume{
  font-weight: lighter;
}

.changeP{
  font-weight: lighter;
  color: red;
  align-content: center;
  
}

.changeM{
  font-weight: lighter;
  color: blue;
  align-content: center;
}

.tableHead{
  border: 1px solid black;
}

.star{
  size: 1.5rem;
  cursor: pointer;
  z-index: 2;
  
  margin: auto;
}
 .star:hover{
  box-shadow: 1px 1px 3px 1px #dadce0;
  margin: auto;
 }

.main{
  padding: 30px 50px 10px 50px;
  align-items: center;
  justify-content: center;
}

  
.timeChageButton {
  margin-left: 10px;
  background-color: white;
  color: #254cdd;
  border-color: #254cdd;
  cursor:pointer;
  font-weight: bold;
  text-align: center;
}

.ChageGrpButton {
  margin-left: 80%;
  background-color: white;
  color: #254cdd;
  border-color: #254cdd;
  cursor:pointer;
  font-weight: bold;
  text-align: center;
}