.name{
  font-weight: lighter;
  font-size: 20px;
}

.symbol{
  font-weight: lighter;
}

.grp{
  font-weight: lighter;
  cursor: pointer;
}

.grp:hover{
  color: #254cdd;
}
.price{
  font-weight: bold;
  color:darkblue
}

.volume{
  font-weight: lighter;
}

.changeP{
  font-weight: lighter;
  color: red;
  align-content: center;
  
}

.changeM{
  font-weight: lighter;
  color: blue;
  align-content: center;
}

.tableHead{
  border: 1px solid black;
}

.star{
  size: 1.5rem;
  cursor: pointer;
  z-index: 2;
  margin: auto;
  
}

.star2{
  size: 1.5rem;
  cursor: pointer;
  z-index: 2;
  margin: auto;
  color: yellow;
  
}
 .star:hover{
 color: blue;
 }

 .star2:hover{
  color: blue;
  }

.main{
  padding: 30px 50px 10px 50px;
  align-items: center;
  justify-content: center;
}

  
.timeChageButton {
  margin-left: 10px;
  background-color: white;
  color: #254cdd;
  border-color: #254cdd;
  cursor:pointer;
  font-weight: bold;
  text-align: center;
}

.ChageGrpButton {
  margin-left: 80%;
  background-color: white;
  color: #254cdd;
  border-color: #254cdd;
  cursor:pointer;
  font-weight: bold;
  text-align: center;
}

.sideWrap{
  z-index: 5;
  padding: 12px;
  border-radius: 15px 0 0 15px;
  background-color: #e7e4e1;
  height: 100%;
  width: 55%;
  right: -55%;
  top: 0;
  position: fixed;
  transition: 0.5s ease;
 
}

.sideWrapopen{
  z-index: 5;
  padding: 12px;
  border-radius: 15px 0 0 15px;
  background-color: #e7e4e1;
  height: 100%;
  width: 25%;
  right: -55%;
  top: 0;
  position: fixed;
  transition: 0.5s ease;

  right: 0;
  transition: 0.5s ease;
  
}

.sideCloseBtn{
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  color: red;
  background-color: transparent;
  font-size: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

